html, body {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    display: flex;
}

.splide__slide img {
    max-height: 300px;
}
