{% extends 'base.twig' %}

{% block main %}
    <form action="{{ route('/account/update') }}" method="POST">
        <label>
            Username
            <input type="text" name="username" value="{{ username }}">
        </label>
        <br>
        <label>
            Password
            <input type="password" name="password" value="">
        </label>
        <br>
        <label>
            Email
            <input type="email" name="email" value="{{ email }}">
        </label>

        <br>
        <input type="submit" value="Update">
    </form>
{% endblock %}
