{% extends 'root.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ route('/css/style.css') }}">
{% endblock %}

{% block body %}
    <header>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="{{ route('/images/new') }}">Neue Bilder</a> {{ images.new|length }}
                    </li>
                    <li>
                        <a href="{{ route('/images/approved') }}">Genehmigte Bilder</a> {{ images.approved|length }}
                    </li>
                    <li>
                        <a href="{{ route('/images/denied') }}">Nicht genehmigte Bilder</a> {{ images.denied|length }}
                    </li>
                </ul>
            </nav>
        </div>
        <div>
            <nav>
                <ul>
                    <li>
                        <a href="{{ route('/logout') }}">Logout</a>
                        <a href="{{ route('/account') }}">Account</a>
                        {% if user.permission >= 100 %}
                            <a href="{{ route('/settings') }}">Einstellungen</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <main>{% block main %}{% endblock %}</main>
{% endblock %}
