{% extends 'base.twig' %}

{% block css %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/css/splide.min.css">
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
    <script>
        const source_type = '{{ type }}';
    </script>
    {% if slides|length %}
        <script src="{{ route('/js/images.js') }}"></script>
    {% endif %}
{% endblock %}

{% block main %}
    {% if slides|length %}
        <div class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    {% for slide in slides %}
                        <li class="splide__slide">
                            <img src="{{ slide.url }}" data-image="{{ slide.name }}" alt="{{ slide.name }}">
                            <br>
                            {% if slide.processedBy %}
                                processed by {{ slide.processedBy }}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if type == 'denied' or type == 'new' %}
            <button id="button-approve">Genehmigen</button>
        {% endif %}
        {% if type == 'approved' or type == 'new' %}
            <button id="button-deny">Nicht genehmigen</button>
        {% endif %}
    {% else %}
        <h2>Keine Bilder vorhanden!</h2>
    {% endif %}
{% endblock %}
