{% extends 'root.twig' %}

{% block body %}
    <form action="{{ route('/login') }}" method="POST">
        <label>
            Username
            <input type="text" name="username">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <input type="submit" value="Login">
    </form>
{% endblock %}
