<html>
<head>
    <title>Screen Picture Selection</title>
    {% block css %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
<script>
var GLOBAL = {
  PUBLIC_PATH: '{{ route('') }}',
};
</script>
{% block js %}{% endblock %}
</body>
</html>
