{% extends 'base.twig' %}

{% block main %}
    <form action="{{ route('/settings/update') }}" method="POST">
        <label>
            Neue Bilder
            <input type="text" name="folder/images/new" value="{{ folder.images.new }}" size="100">
        </label>
        <br>
        <label>
            Genehmigte Bilder
            <input type="text" name="folder/images/approved" value="{{ folder.images.approved }}" size="100">
        </label>
        <br>
        <label>
            Nicht genehmigte Bilder
            <input type="text" name="folder/images/denied" value="{{ folder.images.denied }}" size="100">
        </label>

        <br>
        <br>
        <label>
            Email <b>Neuer Benutzer</b> Betreff
            <input type="text" name="email/new_user/subject" value="{{ email.new_user.subject }}" size="50">
        </label>
        <br>
        <label>
            Email <b>Neuer Benutzer</b>  Nachricht
            <textarea name="email/new_user/message" cols="30" rows="10">{{ email.new_user.message }}</textarea>
        </label>
        <br>
        <label>
            Email <b>Neuer Benutzer</b>  From
            <input type="email" name="email/new_user/from" value="{{ email.new_user.from }}">
        </label>
        <br>
        <label>
            Email <b>Neue Bilder</b> Betreff
            <input type="text" name="email/new_images/subject" value="{{ email.new_images.subject }}" size="50">
        </label>
        <br>
        <label>
            Email <b>Neue Bilder</b>  Nachricht
            <textarea name="email/new_images/message" cols="30" rows="10">{{ email.new_images.message }}</textarea>
        </label>
        <br>
        <label>
            Email <b>Neue Bilder</b>  From
            <input type="email" name="email/new_images/from" value="{{ email.new_images.from }}">
        </label>

        <br>
        <input type="submit" value="Update">
    </form>

    <form action="{{ route('/settings/user/create') }}" method="POST">
        <label>
            Username
            <input type="text" name="username">
        </label>
        <label>
            Password
            <input type="password" name="password">
        </label>
        <label>
            Email
            <input type="email" name="email">
        </label>
        <label>
            Permission
            <input type="number" name="permission" min="0" max="100" step="10">
        </label>

        <input type="submit" value="Erstellen">
    </form>

    <div class="users">
        {% for user in users %}
            <form action="{{ route('/settings/user/update') }}" method="POST">
                <b>{{ user.username }}</b>
                <label>
                    Permission
                    <input type="number" name="permission" value="{{ user.permission }}">
                </label>
                <input type="hidden" name="id" value="{{ user.id }}">
                <input type="submit" name="update" value="Update">
                <input type="submit" name="delete" value="Löschen">
            </form>
        {% endfor %}
    </div>
{% endblock %}
