{% extends 'root.twig' %}

{% block body %}
    <form action="{{ route('/upload') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="images[]" accept="image/*" multiple>
        <input type="submit" value="Hochladen">
    </form>
{% endblock %}
